#dashboard {
  ul {
    margin-top:20px;
    li {
      img.large { width:280px; height:200px;}      
    }
  }
  
  #open-game {
    img {display:inline}  
    span.name {font-size:16px; font-weight:bold;}
  }
  
  #ongoing-game {
    .name {font-size:16px; font-weight:bold;}
    td.winning { 
      h4 {color:#468847;}
    }
    td {
      h4 {margin-top:20px; color:#b94a48;}
      h5 {margin-top:20px;}
      button {margin-top:10px;}
    }
  }
  
  #buttons {
    margin-bottom:20px;
  }
}

.clear {clear:both;}