<template name="game">
  {{#if show_game}}
  <div id="game">
    <div id="return" class="pull-right">
      <button id="return-btn" class="btn btn-primary">Back to Dashboard</button>
    </div>
    <div class="clear"></div>
  
    <div id="round-num">
      <h1>{{round_number}}</h1>
    </div>
    
    <ul id="players" class="thumbnails">
      <li class="span4">
        <h2>{{player1_name}}</h2>
        <div class="thumbnail {{p1_winning}}">
          <img class="large" src="http://robohash.org/{{player1_name}}?size=280x200" alt="">
          <div class="caption">
            {{#unless round_one}}
            <h4>{{player1_name}} has {{player1_score}} WINS</h4>
            <h4>Last turn {{player1_name}} threw {{p1_prev_move}} </h4>
            {{/unless}}
          </div>
        </div>
      </li>

      <li class="span4">
        <h2>{{player2_name}}</h2>
        <div class="thumbnail {{p2_winning}}">
          <img class="large" src="http://robohash.org/{{player2_name}}?size=280x200" alt="">
          <div class="caption">
            {{#unless round_one}}
            <h4>{{player2_name}} has {{player2_score}} WINS</h4>
            <h4>Last turn {{player2_name}} threw {{p2_prev_move}} </h4>
            {{/unless}}
          </div>
        </div>
      </li>
    </ul>

    <div id="move" class="{{waiting}} buttons btn-group">
      <h4>ROUND: {{round_number}}</h4>
      <p>{{waiting_msg}}</p>
      <div id="buttons">
        <button id="rock"     class="move {{p_rock}} btn">Rock</button>
        <button id="paper"    class="move {{p_paper}} btn">Paper</button>
        <button id="scissors" class="move {{p_scissors}} btn">Scissors</button>
      </div>
    </div>

    <div id="rounds">
      <table class="table table-striped">
        <tr>
          <th>WINNER</th>
          <th>{{player1_name}}</th>
          <th>{{player2_name}}</th>
        </tr>
      
        {{#each rounds}}
        <tr>
          <td>{{round_msg}}</td>
          <td class="{{p1_wins_round}}">{{p1}}</td>
          <td class="{{p2_wins_round}}">{{p2}}</td>
        </tr>
        {{/each}}
      </table>
    </div>
    
  </div>
  {{/if}}
</template>