<template name="ongoing_game">
  <tr>
    <td>
      <img src="http://robohash.org/{{player1_name}}?size=36x36" alt="">
      <span class="name">{{player1_name}}</span>
    </td>
    <td>
      <img src="http://robohash.org/{{player2_name}}?size=36x36" alt="">
      <span class="name">{{player2_name}}</span> 
    </td>
    <td class="{{p1_winning}}">
      <h4>{{p1_score}}</h4>
    </td>
    <td class="{{p2_winning}}">
      <h4>{{p2_score}}</h4>
    </td>
    <td>
      <button class="watch-game btn btn-small">{{btn_msg}}</button>
    </td>
  </tr>
</template>